.app {
  display: grid;
  grid-template-rows: 150px auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 30%;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

